<h1 class="books-heading">Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td>show edit destroy</td>
    </tr>
  </tbody>
</table>

<h2 class="newbooks-heading">New book</h2>

