// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index(/books)ページ

.books-heading {
  font-weight: bold;
}

table {
  th {
    padding-bottom: 5px;
  }
  
  td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

td {
  margin: 33px;
}

.newbooks-form {
  margin-bottom: 10px;
  
  .title-head {
    display: block;
  }
  
  .body-head {
    display: block;
  }
}


// show(/books/id)ページ

.book-title, .book-body {
  margin: 33px;

  .bold {
    font-weight: bold;
  }
}




// edit(/books/id/edit)ページ

.editingbook-form {
  margin-bottom: 10px;
  
  .title-head {
    display: block;
  }
  
  .body-head {
    display: block;
  }
}

form {
  margin-bottom: 10px;
}

