// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// topページ
  
.top-heading {
  font-size: 2em;
  
  span {
    font-weight: bold;
  }
}

.top-text {
  margin: 33px;
  
  p {
    span {
      font-weight: bold;
    }
  }
  
  p:last-child {
    margin-top: 33px;
  }
}

#start-link {
  margin: 33px;
  color: #333;
  
  &:hover {
    background-color: black;
    color: white;
  }
}
